.textInputField{
    /* Full-width input fields */
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
      font-family: Montserrat,Arial, Helvetica, sans-serif;
      outline: none;
    
}
.textAreaContainer{
    width: 100%;
}