body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}
*{

  box-sizing: border-box;
}
.App{
  display: flex;
  gap: 0.9rem;
}
/* .form_container{
  margin: 0 auto;
  width: 40%;
  display: flex;
  justify-content: center;
  background-color: grey;
  height: 600px;
  border-radius: 8px;
}
.container{
  width: 100%;
  border-radius: 8px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-control{
  width:250px ;
  height: 16px;
  border-radius: 4px;
  box-shadow:inset 2px 2px 2px rgba(0, 0, 0, .5);
  margin: 5px;
  padding: 10px;
  line-height: 1rem;
  border: none;
  font-size: 1.3rem;
  font-optical-sizing: 1.2rem;
} */